<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Construct is a 3D simulator for robots">
    <meta name="author" content="Jason Huggins">
    <title>The Construct</title>
    <link href="stylesheet/style.css" media="all" rel="stylesheet" type="text/css" />
    <script src="script/vendor/stats.js"></script>
    <script src="script/vendor/modernizr-custom.js"></script>
    <script src="script/vendor/THREEx.windowresize.js"></script>
    <script src="script/vendor/tween.min.js"></script>
    <script type="module" src="script/vendor/coffeescript.js"></script>
    <script type="module" src="script/load-design.js"></script>
  </head>
  <body>
    <div id="info"><a href="https://tapster.io/portfolio/tapster-3/" target="_blank">Tapster 3</a></div>
    <div id="jLeft"></div>
    <div id="jRight"></div>
    <div id="canvas"></div>
    <script type="module" src="script/construct.js"></script>
    <script type="text/coffeescript" src="script/tapster-3-plus.coffee"></script>
    <script type="module">
        import { updatePosition, getInverseKinematics } from "./script/update-position.js"

        var doUpdate = function() {
          var position = window.scene.getObjectByName("end-effector").position
          var specs = scene.getObjectByProperty('class', 'robot').specs
          if (getInverseKinematics({x: position.x, y: position.y, z: position.z - 50}, specs)) {
            if (position.z - 1 > 2) {
              position.z -= 50
              updatePosition(scene)
            }
          }
        }

        var waitForElement = setInterval(function() {
          if (window.scene.getObjectByName("end-effector") !== undefined) {
            // console.log("Element exists!")
            doUpdate()
            clearInterval(waitForElement);
          } else {
            // console.log("Element does not exist!")
          }
        }, 10) // check every 10ms

    </script>
  </body>
</html>
